body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.slider {
    overflow: hidden;
}

.slider__slides {
    display: flex;
    transform: translate3d(0, 0, 0);
    cursor: grab;
}

.slider__slides:hover {
    will-change: transform;
}

.slider__slide {
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
    flex-shrink: 0;
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(80, 80, 80, 0.3);
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
}

.slider__slide.is-active {
    box-shadow: 0 5px 10px rgba(30, 30, 30, 0.3);
    opacity: 1;
    transform: scale(1);
}

.slider__slides:active {
    cursor: grabbing;
}

.slider__pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slider__pagination-item.is-active .slider__bullet,
.slider__bullet:hover {
    background: #e54;
}

.slider__bullet {
    display: block;
    width: 12px;
    height: 12px;
    background: #fb5;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999px;
    margin: 5px;
}

.slider__arrow-nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.slider__prev,
.slider__next {
    cursor: pointer;
    border: 0 solid transparent;
    border-radius: 4px;
    color: #fff;
    width: 40px;
    height: 40px;
    background: #fb5 url("../img/arrow.svg") center center no-repeat;
}

.slider__prev {
    transform: rotate(-180deg);
}

.custom-controls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.custom-controls__item {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(0.8);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.custom-controls__item.is-active {
    opacity: 1;
    transform: scale(1);
}
